AlwaysBreakAfterDefinitionReturnType: All
BreakBeforeBraces: Stroustrup
ColumnLimit: 200
PointerAlignment: Right
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
IndentCaseLabels: true
TabWidth: 4
IndentWidth: 4
UseTab: ForContinuationAndIndentation
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: false
ForEachMacros: ['wl_list_for_each_safe', 'wl_list_for_each']
AlignAfterOpenBracket: BlockIndent
AllowShortIfStatementsOnASingleLine: WithoutElse
